@use "../helpers/variables" as *; 
.head-with-border{
    position: relative;
    h2{
        text-transform: uppercase;
        background-color: $redColor;
            color: #fff;
            text-align: center;
            margin: 40px auto;
            max-width: 400px;
            padding: 10px 15px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            &::before {
                content: "";
                position: absolute;
                height: 1.5px;
                width: 100%;
                background-color: $greyColor;
                left: 0;
                top: 50%;
                z-index: -1;
            }
    }
}