@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;
// Start Slider
.slider{
    blockquote{
        font : {
            size: 20px;
            family : Tahoma , Arial;
            weight : bold;
            style : italic;
        }
        margin: 30px auto;
        width: 75%;
        line-height: 1.7;
        text-align: center;
        color: #5e5e5e;
    }
    img{
        max-width: 100%;
    }
    ul.slider-bullets{
        text-align: center;
        li{
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $greyColor;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 3px solid $greyColor ;
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;
            &.active{
                background-color: #ccc;
                border-color: #333;
            }
            &:hover{
                background-color: #ccc;
            }
        }
    }
}
// End Slider
// Start Services
.services{
    padding: 60px 0 0;
    .service-box{
        @media #{$minMedium}{
            float: $float-left;
            width: (100% / 3);
            padding-right:20px;
            &:last-of-type{
                padding-right:0px;
            }
        }
        @media #{$maxMobile}{
            i{
                display: block;
                margin-bottom: 15px;
            }
        }
        margin-top: 30px;
        h3{
            color: #444;
            margin: 0 4px;
            i{
                font-size: 30px;
                position: relative;
                top: 4px;
            }
        }
        p{
            color: #777;
            line-height: 1.7;
        }
        a{
            color: $redColor;
            text-decoration: none;
        }
    }
}
// End Services
// Start Players
.our-players{
    padding-top: 60px ;
    .player-box{
        width: (  96% / 5 );
        @media #{$minSmall}{
            float: $float-left;
            text-align: center;
            width: (96% / 2);
            margin: 0 1%;
            margin-bottom: 40px;
            &:nth-child(6) {
                display: none;
            }
        }
        @media #{$minMedium}{
            margin: 0 0 40px 0;
            text-align: $text-left;
            &:nth-child(2),&:nth-child(5){
                margin: 0 1%;
            }
            width: (98% / 3);
            &:nth-child(6){
                display: block;
            }
        }
        @media #{$minLarge}{
            width: (96% / 5);
            margin: 30px 1%  30px 0;
            &:nth-child(2),
                &:nth-child(5) {
                    margin: 30px 1% 30px 0 ;
                }
        }
        @media #{$maxMobile}{
            width: 100%;
            margin-bottom: 40px;
        }
        &:nth-child(6){
            margin-right: 0;
        }
        img{
            max-width: 100%;
        }
        h3{
            color: #444;
            margin: 10px 4px;
            font-weight: normal;
            span{
                font-weight: bold;
            }
        }
        p{
            color: #777;
            line-height: 1.6;
            margin-bottom: 15px;
        }
        a{
            color: $redColor;
            text-decoration: none;
        }
    }
}
// End Players
// Start Images
.images{
    padding-top: 60px;
    .img-box{
        float: $float-left;
        width: ( 96% / 3 );
        margin-right: 2%;
        @media #{$minSmall}{
            &:nth-child(4){
                margin-right: 0;
            }
        }
        @media #{$maxMobile}{
            float: none;
            width: 60%;
            margin: 30px auto;
        }
        img{
            max-width: 100%;
        }
    }
}
// End Images